body{
    background-color: rgb(231, 231, 231);
}
.userForm{
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
.userForm label{
    margin-bottom: 8px;
    font-weight: bold;
}
.userForm input{

    margin-bottom: 12px;
    padding: 8px;
    border: 1px solid #0c0c0c;
    border-radius: 4px;
}
.userForm button{
    font-weight: bold;
    padding: 10px 15px;
    background-color: #af4cad;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.userForm button:hover{
    background-color: #922d9e;
}
.table{
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}