.admin-layout{
    display: flex;
    height: 100vh;
}
.admin-content{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.admin-content button{
    align-self: flex-start;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgb(11, 185, 112);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;}