body{
    background-color:bisque;
}
.header{
    background-color: rgb(241, 236, 231);
    position: sticky ;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
.nav{
    display: flex;
    gap: 40px;
}
.nav button{
    background-color:rgb(11, 185, 112);
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
}
.header div:hover{
    cursor: pointer;
    text-decoration: underline;
    background-color: antiquewhite;
}