.sidebar{
    width: 250px;
    height: 100vh;
    background-color: rgb(11, 185, 112);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 20px;
    border-right: 2px solid black;
    transition: width 0.3s ease;
    overflow: hidden;
}
.sidebar.closed{
    width: 0;
    padding: 0;
    border: none
}
.sidebar-header h2{
    font-size: 15px;
    font-weight: bold;
}
.sidebar-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
}